# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Env
.env
.env.*.local

# Output / results
result.json
result_*.json
*.txt

# System
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
.vs/

# OS swap files
*.swp
